<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="fill">
        <mat-label>Nome Completo</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>RG</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>